<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    {% block meta_title %}
    {% endblock meta_title%}
    </title>

 	{% block extra_css %}
    {% endblock extra_css%}

</head>
<body>
	{% block page_body %}
	{% endblock page_body%}

    <!-- JS section -->
    {% block extra_js %}{% endblock extra_js %}

</body>
</html>