{% extends "base.html" %}

{% block extra_css %}
	<style>
    	#container1 { border:1px dotted blue; width: 1024px; height: 600px; position: relative; }
	</style>
{% endblock extra_css %}


{% if data_total %}
	{% block page_body %}
			<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/datamaps/0.5.8/datamaps.all.js"></script>
		<h1>Demo map</h1>

		<div id="container1"></div>
    
		{% include "map.html" %}
	{% endblock page_body %}
{% endif%}

{% block extra_js %}
{% endblock extra_js %}